# Dependencies
node_modules

# Environment files
.env*.local

# Next.js
.next
out

# Docker
Dockerfile
.dockerignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
trace.log
logs
*.log

# OS
.DS_Store

# Test coverage
coverage